In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'a':[2, 3,4]})

   a
0  2
1  3
2  4

In [3]:
df = pd.read_clipboard()

In [4]:
df

   Person  height   (feet)  weight  (lbs)  foot  size(inches)
0    male    6.00      180      12    NaN   NaN           NaN
1    male    5.92  (5'11")     190   11.0   NaN           NaN
2    male    5.58   (5'7")     170   12.0   NaN           NaN
3    male    5.92  (5'11")     165   10.0   NaN           NaN
4  female    5.00      100       6    NaN   NaN           NaN
5  female    5.50   (5'6")     150    8.0   NaN           NaN
6  female    5.42   (5'5")     130    7.0   NaN           NaN
7  female    5.75   (5'9")     150    9.0   NaN           NaN